#include "types.h"

char *host = "localhost";
u32 port = 22;
char *user = "me";
char *public_key_file = "/home/user/.ssh/key.pub";
char *private_key_file = "/home/user/.ssh/privkey";
char *private_key_password = NULL;

